<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoloCook">

        <activity android:name=".community.CommunityInsideActivity" />
        <activity android:name=".community.CommunityActivity" />


        <activity
            android:name=".community.CommunityInsideActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".community.CommunityViewModel"
            android:exported="false" />

        <activity
            android:name=".community.CommunityAdapter"
            android:exported="false" />

        <activity
            android:name=".repository.CommunityRepository"
            android:exported="false" />
        <activity
            android:name=".remote.RetrofitClient"
            android:exported="false" />

        <activity
            android:name=".remote.ApiService"
            android:exported="false" />
        <activity
            android:name=".util.DummyNameMapper"
            android:exported="false" />
        <activity
            android:name=".model.PostUi"
            android:exported="false" />
        <activity
            android:name=".model.PostDto"
            android:exported="false" />
            -->

        <activity
            android:name=".BudgetRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateExchangePost"
            android:exported="false" />

        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".BudgetRecipeInsideActivity"
            android:exported="false" />
        <activity
            android:name=".EnterIngredientsInside"
            android:exported="false" />
        <activity
            android:name=".EnterIngredientsScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>